@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.inter {
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

input::placeholder {
  position: absolute;
  top: 50%; /* Position the placeholder in the middle */
  left: 10px;
  transform: translateY(-50%); /* Adjust vertical position */
  color: #aaa;
}
